.content-about {
  // background-color: tan;
  padding: 50px;

  h1 {
    margin-top: 20px;
    // color: red;
  }

  .heroimg {
    height: 230px;
    width: 100%;
    // background-color: red;
    background-image: url(../images/fnw.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .products {
    width: 900px;
    // background-color: blue;
    min-height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;

    .product {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .prod-image {
        height: 300px;
        width: 200px;

        // border-radius: 50%;
        background-color: brown;
        background-image: url(../images/fnw2.jpg);
        background-size: cover;
      }
      .prod-image-two {
        height: 300px;
        width: 200px;

        // border-radius: 50%;
        background-color: brown;
        background-image: url(../images/mononcle.jpg);
        background-size: cover;
      }
      .prod-image-three {
        height: 300px;
        width: 200px;

        // border-radius: 50%;
        background-color: brown;
        background-image: url(../images/400blows.jpg);
        background-size: cover;
      }

      .prod-desc {
        width: 600px;
        // background-color: red;

        h4 {
          margin-top: 10px;
        }

        .btn-showTime {
          width: 133px;
          height: 40px;
          font-size: 15px;
          background-color: #000;
          border-radius: 20px;
          padding: 10px 6px;
          text-align: center;
          color: white;
          cursor: pointer;
          margin-top: 10px;
          float: left;
          margin-left: 10px;
        }
      }
    }

    .fnw-text {
      // background-color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
    }
    .fnw-images {
      max-width: 100%;
      min-height: 304px;
      // background-color: aqua;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      .fnw-image-one {
        height: 304px;
        width: 235px;
        background-color: #d2b48c;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(../images/directOne.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .img-text {
          color: #000;
          margin-top: 340px;
        }
      }

      .fnw-image-two {
        height: 304px;
        width: 235px;
        background-color: #d2b48c;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(../images/directTwo.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .img-text {
          color: #000;
          margin-top: 340px;
        }
      }

      .fnw-image-three {
        height: 304px;
        width: 235px;
        background-color: #d2b48c;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(../images/directThree.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .img-text {
          color: #000;
          margin-top: 340px;
        }
      }
    }
  }
}
